
@import 'basscss';
@import url(http://fonts.googleapis.com/css?family=Syncopate:700);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);


:root {
  --font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 2.2rem;

}

/*  CSS OVERRIDES*/
/*body {
	font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, sans-serif;
}*/
	
*::-moz-selection { background: #0086B3; color: #fff; text-shadow: none; }
*::selection { background: #0086B3; color: #fff; text-shadow: none; }

/*.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
	font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, sans-serif;
}*/

p {
	font-size: 1.05rem;
}
.container {
	max-width: 48em;
}

/*	CSS ADDITIONS*/

.font-syncopate {
	font-family: 'Syncopate';
	font-size: 2.5rem;
}
.off-white-warm-bg {
	background-color: #FFFCF7;
}
.off-white-cool-bg {
	background-color: #F7FDFF;
}
.dark-blue {
	color: #0079a2;
}
.bg-dark-blue {
	background-color: #0079a2;
}
.electric-blue {
	color: #1ac5ff
}

.bg-electric-blue {
	background-color: #1ac5ff
}



.hover-shadow-grow {
/*	-webkit-font-smoothing: antialiased;
*/  -webkit-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.38);
	box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.38);
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.hover-shadow-grow:hover {
	-webkit-transform: scale3d(1.035,1.035,5);
	transform: scale3d(1.035,1.035,5);
	-webkit-box-shadow:  2px 2px 6px 0px rgba(50, 50, 50, 0.56);
	box-shadow:  2px 2px 6px 0px rgba(50, 50, 50, 0.56);
}

.hover-shadow-grow:active {
	-webkit-transform: scale3d(1.025,1.025,5);
	transform: scale3d(1.025,1.025,5);
	-webkit-box-shadow:  2px 2px 2px 0px rgba(50, 50, 50, 0.38);
	box-shadow:  2px 2px 2px 0px rgba(50, 50, 50, 0.38);
	-webkit-transition: all 0.05s ease-in;
	transition: all 0.05s ease-in;
}

.hover-shadow-grow .hover-fade-in {
	opacity: 0;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: all 0.275s ease-in;
	transition: all 0.275s ease-in;
}

.hover-shadow-grow:hover .hover-fade-in {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	opacity: 0.8;
}

.page-push-enter {
	opacity: 0;
/*	-webkit-transition: opacity .25s ease-in;
  	transition: opacity .25s ease-in;*/
}

.page-push-enter.page-push-enter-active {
	-webkit-transition: opacity .25s ease-in;
  	transition: opacity .25s ease-in;
	  opacity: 1
}

.page-push-leave {
/*  -webkit-transition: opacity 0.25s ease-in;
*/  transition: opacity 0.25s ease-in;
  opacity: 1;
}

.page-push-leave.page-push-leave-active {
	opacity: 0
}

.page-push-appear {
	opacity: .01;
/*	-webkit-transition: opacity .25s ease-in;
*/	transition: opacity .25s ease-in;
}

.page-push-appear.page-push-appear-active {
	opacity: 1;
}
