body {
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

header {
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  background-color: #f0f0f0;
}

nav {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

nav a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  float: left;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

section.jumbo {
  padding-bottom: 2rem;
  text-align: center;
}

.jumbo h1 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin-bottom: 1rem;
}

.jumbo h2 {
  font-size: 1.5rem;
}

section.summary {
  padding-top: 2rem;
}

section.summary p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 2.2rem;
}

section.summary p a {
  text-decoration: none;
  font-weight: 500;
  color: hsl(211deg 100% 25% / 90%);
}

.container {
  display: block;
  max-width: 40rem;
  margin: 0 auto;
}

.date {
  margin-left: 0.5rem;
}

section.experience h1 {
  margin-bottom: 2rem;
  margin-top: 0;
}

.job {
  margin-bottom: 4rem;
}

.job h2.title {
  margin-top: 0;
  font-size: 1.17em;
  font-weight: 500;
}

.job p.summary {
  margin-top: .5rem;
  font-size: 1.17em;
  font-weight: 400;
  line-height: 2rem;
}

footer {
  bottom: 0;
}

footer .container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

footer a {
  font-size: .75rem;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, .125);
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, .125);
}

.cranberry {
  color: #c11067;
}

.navy {
  color: rgba(0, 32, 66, 0.9);
}

.cursor-pointer {
  cursor: pointer;
}

.button-transparent {
  position: relative;
  z-index: 2;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid transparent;
}

.button, button {
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}
