@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

/*  CSS OVERRIDES*/
body {
  background-color: #FFFCF7;
  font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

*::-moz-selection {
  background: #0086B3;
  color: #fff;
  text-shadow: none;
}

*::selection {
  background: #0086B3;
  color: #fff;
  text-shadow: none;
}

.jumbo {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

p {
  font-size: 1.05rem;
  line-height: 2.2rem;
}

.navy {
  color: #001f3f;
}

.bg-navy {
  background-color: #001f3f;
}

input[type="search"] {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search.box {
  position: relative;
  margin-bottom: 1rem;
}

div[role="listbox"] {
  display: none;
  background-color: #FFF;
  border: 1px solid #ccc;
}

div[role="listbox"], button[role="option"] {
  box-sizing: border-box;
  width: 100%;
}

div[role="listbox"].show {
  display: block;
  position: absolute;
  z-index: 10;
  max-height: 200px;
  overflow-y: scroll;
}

button[role="option"] {
  background-color: #FFF;;
  border-bottom: 1px solid #ccc;
  font-size: inherit;
  text-align: left;
}

button[role="option"]:last-of-type {
  border-bottom: none;
}

#visuals .search.box {
  width: 50%;
}

.container {
  display: block;
  max-width: 48em;
  margin: 0 auto;
}

.text-container {
  margin-top: 0.25rem;
}

.date {
  margin-left: 0.5rem;
}

.proj {
  opacity: 0;
  transition: opacity 0.2s ease-in-out, scale3d 0.2s ease-in-out;
  transform: scale3d(1.05, 1.05, 1);
  z-index: 1;
}

.proj.visible {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.proj.wide {
  transform: scale3d(1, 1, 5);
  z-index: 5;
  width: 100%;
  background-color: #FFF;
  padding: 16px;
}

.width-100 {
  width: 100%
}

.image-container {
  display: flex;
  height: 100%;
  max-height: 400px;
  padding: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, .125);
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, .125);
}

.off-white-warm-bg {
  background-color: #FFFCF7;
}

.off-white-cool-bg {
  background-color: #F7FDFF;
}

.dark-blue {
  color: #0079a2;
}

.bg-dark-blue {
  background-color: #0079a2;
}

.bg-silver {
  background-color: #ddd;
}

.electric-blue {
  color: #1ac5ff
}

.bg-electric-blue {
  background-color: #1ac5ff
}

.cursor-pointer {
  cursor: pointer;
}

.button-transparent {
  position: relative;
  z-index: 2;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid transparent;
}

.button, button {
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}
