
/*@import 'normalize.css';
@import 'basscss';*/
/*@import url(http://fonts.googleapis.com/css?family=Syncopate:700);*/
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

:root {
  --font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 2.2rem;
}

/*  CSS OVERRIDES*/
body {
  background-color: #FFFCF7;
	font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

*::-moz-selection { background: #0086B3; color: #fff; text-shadow: none; }
*::selection { background: #0086B3; color: #fff; text-shadow: none; }

/*.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
	font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, sans-serif;
}*/

.jumbo {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
p {
	font-size: 1.05rem;
  line-height: 2.2rem;
}
.navy {
  color: #001f3f;
}

.bg-navy {
  background-color: #001f3f;
}

.container {
  display: block;
  max-width: 48em;
  margin: 0 auto;
}
x-resume .date {
  margin-left: 0.5rem;
}
x-portfolio img {
  max-width: 100%;
}

.proj > * {
  cursor: pointer;
  /*pointer-events: none;*/
}

.proj {
  opacity: 0;
  will-change: opacity, scale3d;
  transition: all 0.35s ease-in;
  transform: scale3d(1.05, 1.05, 1);
  z-index: 1;
}

.proj.visible {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.proj.wide {
  /*position: absolute;*/
  transform: scale3d(1, 1, 5);
  z-index: 5;
  width: 100%;
  background-color: #FFF;
  padding: 16px;
}

#description {
  display: none;
  opacity: 0;
  will-change: opacity;
  transition: all 0.35s ease-in;
}

#description.visible {
  display: block;
  opacity: 1;
}

/*	CSS ADDITIONS*/

/*internet explorer svg fix*/
.width-100 {
	width: 100%
}

.font-syncopate {
	font-family: 'Syncopate';
	font-size: 2.5rem;
}
.strikethrough {
	text-decoration: line-through;
}
.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}
.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.125);
}
.off-white-warm-bg {
	background-color: #FFFCF7;
}
.off-white-cool-bg {
	background-color: #F7FDFF;
}
.dark-blue {
	color: #0079a2;
}
.bg-dark-blue {
	background-color: #0079a2;
}
.bg-silver {
  background-color: #ddd;
}
.electric-blue {
	color: #1ac5ff
}

.bg-electric-blue {
	background-color: #1ac5ff
}

.hover-shadow-grow {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.38);
	box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.38);
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.hover-shadow-grow:hover {
	-webkit-transform: scale(1.015);
	transform: scale(1.015);
	-webkit-box-shadow:  2px 2px 6px 0px rgba(50, 50, 50, 0.46);
	box-shadow:  2px 2px 6px 0px rgba(50, 50, 50, 0.46);
}

.hover-shadow-grow:active {
  -webkit-transform: scale(1.01);
	transform: scale(1.01);
	-webkit-box-shadow:  2px 2px 2px 0px rgba(50, 50, 50, 0.38);
	box-shadow:  2px 2px 2px 0px rgba(50, 50, 50, 0.38);
	-webkit-transition: all 0.05s ease-in;
	transition: all 0.05s ease-in;
}

.hover-shadow-grow .hover-fade-in {
	opacity: 0;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: all 0.175s ease-in;
	transition: all 0.175s ease-in;
}

.hover-shadow-grow:hover .hover-fade-in {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	opacity: 0.95;
}

.cursor-pointer {
	cursor: pointer;
}


.button-transparent {
    position: relative;
    z-index: 2;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid transparent;
}

.button, button {
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
}
